<section class="gallery">
  <div class="container">
    <div class="swiper">
      <h2 class="swiper-title">Top 15 movies of the day</h2>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- <div class="swiper-slide">
            <a class="card__link" href=""">
              <img
                src=""
              />
            </a>
          </div> -->
        </div>
        <div
          class="swiper-pagination swiper-pagination-style"
          style="bottom: -30px"
        ></div>
        <!-- <div class="swiper-button-prev prev"></div>
        <div class="swiper-button-next next"></div> -->
      </div>
    </div>

    <ul class="gallery__list">
      <!-- <li class="card">
        <a class="card__link" href="">
          <img
            class="card__img"
            src="./images/template-poster-movie.jpg"
            alt=""
          />
          <p class="card__name">Name</p>
          <p class="card__description">Genre | Year</p>
        </a>
      </li> -->
    </ul>
    <include src="./partials/gallery/pagination-bar.html"></include>
  </div>
</section>
<include src="./partials/gallery/filmcard-modal.html"></include>

<!-- <h2 class="slider__title">Best movies of the day</h2>
      <div class="slideshow-container">
        <div class="mySlides fade">
          <div class="numbertext">1 / 3</div>
          <img src="img1.jpg" style="width: 100%" />
          <div class="text">Caption Text</div>
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br />

      <div style="text-align: center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div> -->
