<div class="pagination-bar">
  <ul class="pagination-bar__list">
    <li class="pagination-bar__control pagination-bar__left">
      <svg class="arrow-icon arrow-left-icon">
        <use href="./images/symbol-defs.svg#icon-arrow-left2"></use>
      </svg>
    </li>
    <li class="pagination-bar__number pagination-bar__element--active">
      <span>1</span>
    </li>
    <li class="pagination-bar__number">
      <span>2</span>
    </li>
    <li class="pagination-bar__dots">
      <span>...</span>
    </li>
    <li class="pagination-bar__number">
      <span>4</span>
    </li>
    <li class="pagination-bar__number">
      <span>5</span>
    </li>
    <li class="pagination-bar__dots">
      <span>...</span>
    </li>
    <li class="pagination-bar__number">
      <span>7</span>
    </li>
    <li class="pagination-bar__control pagination-bar__right">
      <svg class="arrow-icon arrow-right-icon">
        <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
      </svg>
    </li>
  </ul>
</div>
