<div class="pagination-bar">
  <button
    class="pagination-bar__element pagination-bar__control pagination-bar__left bar pagination-bar__element--hidden"
    data-type="left"
    type="button"
  >
    <svg class="arrow-icon arrow-left-icon">
      <use href="./images/symbol-defs.svg#icon-arrow-left2"></use>
    </svg>
  </button>
  <ul class="pagination-bar__list">
    <!-- <li
      class="pagination-bar__element pagination-bar__number pagination-bar__element--active"
    >
      <span>1</span>
    </li>
    <li class="pagination-bar__element pagination-bar__number">
      <span>2</span>
    </li>
    <li class="pagination-bar__element pagination-bar__dots">
      <span>...</span>
    </li>
    <li class="pagination-bar__element pagination-bar__number">
      <span>4</span>
    </li>
    <li class="pagination-bar__element pagination-bar__number">
      <span>5</span>
    </li>
    <li class="pagination-bar__element pagination-bar__dots">
      <span>...</span>
    </li>
    <li class="pagination-bar__element pagination-bar__number">
      <span>7</span>
    </li> -->
  </ul>
  <button
    class="pagination-bar__element pagination-bar__control pagination-bar__right pagination-bar__element--hidden"
    data-type="right"
    type="button"
  >
    <svg class="arrow-icon arrow-right-icon">
      <use href="./images/symbol-defs.svg#icon-arrow-right2"></use>
    </svg>
  </button>
</div>
