<div class="mobile-menu-window">
  <div class="header-modal" data-modal-burger>
    <button type="button" class="header-modal-btn" data-close>
      <svg width="20" height="20" class="header-modal-btn__icon">
        <use href="../src/images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <nav class="modal-nav">
      <ul class="modal-nav-list">
        <li class="modal-nav-list__item">
          <a href="./index.html" class="modal-nav-list__link link-home-js">
            <p class="modal-nav-list__text">Home</p>
          </a>
        </li>
        <li class="modal-nav-list__item library-mobile is-mobile-hidden modal-library-js">
          <a href="./my-library.html" class="modal-nav-list__link link-library-js">
            <p class="modal-nav-list__text">my library</p>
          </a>
        </li>
        <li class="modal-nav-list__item log-out-mobile is-mobile-hidden">
          <button class="modal-nav-list__btn modal-nav-list__text" id="exit-btn-mobile">log out</button>
        </li>
        <li class="modal-nav-list__item log-in-mobile">
          <button class="modal-nav-list__btn modal-nav-list__text">log in</button>
        </li>
        <li class="modal-nav-list__item sign-up-mobile">
          <button class="modal-nav-list__btn modal-nav-list__text">sign up</button>
        </li>
      </ul>
    </nav>
  </div>
</div>
