<div class="header-modal " data-modal>
    <!-- <img src="./images/backgraund-modal.png" alt="" class="modal-img"> -->
        <button type="button" class="header-modal-btn" data-close>
            <svg width="20" height="20" class="header-modal-btn__icon">
                <use href="../src/images/symbol-defs.svg#icon-cross"></use>
            </svg>
        </button>
        <nav class="modal-nav">
            <ul class="modal-nav-list">
                <li class="modal-nav-list__item">
                     <a href="./index.html" class="modal-nav-list__link nav__link--after">
                        <p class="modal-nav-list__text">Home</p>
                    </a>
                </li>
                <li class="modal-nav-list__item">
                    <a href="./my-library.html" class="modal-nav-list__link">
                        <p class="modal-nav-list__text">my library</p>
                    </a>
                </li>
                <li class="modal-nav-list__item">
                    <button class="modal-nav-list__btn">
                        <p class="modal-nav-list__text">log out</p>
                    </button>
                </li>
                <li class="modal-nav-list__item">
                    <button class="modal-nav-list__btn">
                        <p class="modal-nav-list__text">login</p>
                    </button>
                </li>
                <li class="modal-nav-list__item">
                    <button class="modal-nav-list__btn">
                        <p class="modal-nav-list__text">signup</p>
                    </button>
                </li>
            </ul>
           
           
        </nav>
</div>