<section class="hero">
  <div class="container">
    <h1 class="visually-hidden">hero</h1>
    <form class="hero-form">
      <input
        type="text"
        name="text"
        placeholder="Movie search"
        class="hero-form__input"
      />
      <button type="button" class="hero-form__btn">
        <svg width="12" height="12" class="hero-form__icon">
          <use href="../src/images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
      <p class="hero-form__text hidden-err">
        Search result not successful. Enter the correct movie name and try again
      </p>
    </form>
    <div class="btn-menu">
      <ul class="hero-btn-list">
        <li class="hero-btn-list__item">
          <button class="filter" type="button" data-filter>
            Filter by genre
          </button>
        </li>
        <li class="hero-btn-list__item">
          <button class="rating" type="button" data-rating="false">
            Sort by rating
          </button>
        </li>
        <li class="hero-btn-list__item">
          <button class="reset" type="button" disabled>Reset</button>
        </li>
      </ul>
      <ul class="menu-filter-list" data-list-filter></ul>
    </div>
  </div>
</section>
