<header class="header">
    <div class="container">
        <a href="./index.html" class="header-logo">
            <svg width="24" height="24">
                <use href="../src/images/symbol-defs.svg#icon-film"></use>
            </svg>
        </a>
        <div class="header-nav">
            <a href="./my-library.html" class="header-nav__link link header-nav__current">
                <p class="header-nav__text">Home</p>
            </a>
            <button type="button" class="header-btn">
                <svg width="24" height="24" class="header-btn__icon">
                    <use href="../src/images/symbol-defs.svg#icon-menu""></use>
                </svg>
            </button>
        </div>
    </div>
    <include src="./partials/header/modal-auth.html"></include>
</header>
