<section class="hero">
  <form class="hero-form">
    <input
      type="text"
      name="text"
      placeholder="Movie search"
      class="hero-form__input"
    />
    <button type="submit" class="hero-form__btn">
      <svg width="12" height="12" class="hero-form__icon">
        <use href="../src/images/symbol-defs.svg#icon-search"></use>
      </svg>
    </button>
    <p class="hero-form__text hidden-err">
      Search result not successful. Enter the correct movie name and try again
    </p>
  </form>
</section>
