<header class="header">
    <div class="container">
        <a href="./index.html" class="header-logo">
            <svg width="24" height="24">
                <use href="../src/images/symbol-defs.svg#icon-film"></use>
            </svg>
            <p class="header-logo__text">Filmoteka</p>
        </a>
        <nav class="nav">
            <ul class="nav-list nav-list-js">
                <li class="nav-list__item">
                     <a href="./index.html" class="nav-list__link header-home-js">
                        <p class="nav-list__text">Home</p>
                    </a>
                </li>
                <li class="nav-list__item nav-list__item--library is-hidden-nav nav-list__library">
                    <a href="./my-library.html" class="nav-list__link header-library-js ">
                        <p class="nav-list__text">my library</p>
                    </a>
                </li>
                <li class="nav-list__item nav-list__item--exit is-hidden-nav">
                    <button type="button" class="nav-list__btn nav-list__text" id="exit-btn">log out</button>
                </li>
                <li class="nav-list__item  log-in-js">
                    <button type="button" class="nav-list__btn nav-list__text">log in</button>
                </li>
                <li class="nav-list__item  sign-up-js">
                    <button type="button" class="nav-list__btn nav-list__text">sign up</button>
                </li>
            </ul>
           
            <button type="button" class="header-btn" data-open>
                <svg width="24" height="24" class="header-btn__icon">
                    <use href="../src/images/symbol-defs.svg#icon-menu"></use>
                </svg>
            </button>
        </nav>
    </div>
    <include src="./partials/header/modal-auth.html"></include>
</header>
