<!-- Модальне вікно реєстрації-->

<div class="backdrop-sign is-bck-hidden">
  <div class="modal">
    <button type="button" class="modal-button-sign">
      <svg class="modal-btn__icon" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div>
      <form class="modal__form registration-js" id="registration">
        <p>registration</p>
        <label class="modal__form--label">
          Email
          <input class="modal__form--input" type="email" name="email" />
        </label>
        <label class="modal__form--label">
          Password
          <input
            class="modal__form--input"
            type="password"
            name="password"
            minlength="5"
            maxlength="12"
          />
        </label>
        <div class="modal__form--container">
          <button class="modal__form--btn" type="submit">sign up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Модальне вікно авторизації-->

<div class="backdrop-log is-bck-hidden">
  <div class="modal">
    <button type="button" class="modal-button-log">
      <svg class="modal-btn__icon" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-cross"></use>
      </svg>
    </button>
    <div>
      <form class="modal__form authorization-js" id="authorization">
        <p>authorization</p>
        <label class="modal__form--label">
          Email
          <input class="modal__form--input" type="email" name="email" />
        </label>
        <label class="modal__form--label">
          Password
          <input
            class="modal__form--input"
            type="password"
            name="password"
            minlength="5"
            maxlength="12"
          />
        </label>
        <div class="modal__form--container">
          <button class="modal__form--btn" type="submit">log in</button>
        </div>
      </form>
    </div>
  </div>
</div>
