@import './utils/reset';
@import './utils/mixins';
@import './utils/vars';

@import './components/header/modal-auth';
@import './components/commons';
@import './components/header/header-nav';
@import './components/header/header-home';
@import './components/header/header-lib';
@import './components/header/burger-window.scss';
@import './components/header/menu-filter.scss';
@import './components/gallery/filters-sorts';
@import './components/gallery/gallery';
@import './components/gallery/spinner';
@import './components/gallery/filmcard-modal';
@import './components/gallery/slider';
@import './components/footer/footer';
@import './components/footer/footer-modal';
@import './components/gallery/pagination-bar';
@import './components/gallery/modal-video.scss'
