.hero {
  min-width: 320px;
  min-height: 230px;
  padding-top: 118px;
  padding-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-image: url(../images/abstract-background-with-red-lines_mobile_1x-min.png);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/abstract-background-with-red-lines_mobile_2x-min.png);
  }


  background-repeat: no-repeat;

  @include tablet {
    min-width: 768px;
    height: 216px;
    padding-top: 115px;
    padding-bottom: 81px;
    background-image: url(../images/background-photo_tablet_1x-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/background-photo_tablet_2x-min.png);
    }
  }

  @include desktop {
    min-width: 1280px;
    padding-top: 115px;
    padding-bottom: 80px;
    background-image: url(../images/abstract-background-with-red-lines_desktop_1x-min.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/abstract-background-with-red-lines_desktop_2x-min.png);
    }
  }

  &-form {
    width: 280px;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    @include tablet {
      width: 393px;
      display: flex;
      align-items: center;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    @include desktop {
      width: 394px;
    }
  }
  &-form__input {
    outline: none;
    color: $primary-color-text;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    width: 280px;
    height: 20px;
    background-color: transparent;
    border: none;
    border-bottom: 0.5px solid #ffffff;
    padding-right: 15px;

    @include tablet {
      width: 336px;
    }

    @include desktop {
      width: 394px;
    }
  }

  &-form__btn {
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    top: 1px;

    @include tablet {
      right: 30px;
    }

    @include desktop {
      right: 1px;
    }
  }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.hero-form__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: $warning-color;
  margin-top: 16px;

  @include tablet {
    margin-top: 20px;
  }
}
