.header {
  width: 100%;
  position: absolute;
  z-index: 2;
  padding-top: 40px;

  & .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-logo {
    margin-right: auto;
    height: 24px;
    display: flex;
    align-items: center;

    &__text {
      margin-left: 8px;
      font-weight: 500;
      font-size: 30px;
      line-height: 1.16;
      color: $primary-color-text;

      @include desktop {
        margin-left: 10px;
      }
    }
  }
  &-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;

    @include tablet {
      display: none;
    }
  }

  &-btn__icon {
    fill: #ffffff;
    cursor: pointer;
  }
}
.nav-list {
  display: none;

  @include tablet {
    display: flex;
    align-content: center;

    &__item {
      display: flex;
      align-items: center;
    }

    &__item + &__item {
      margin-left: 40px;
    }

    &__text {
       cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.16;
      text-transform: uppercase;
      color: $primary-color-text;
    }
    &__btn {
      background-color: transparent;
    }
  }
}
.nav__link--after {
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $warning-color;
    display: block;
  }
}

//Додавання та видалення кнопок реєстрації і авторизації

.is-hidden-nav {
  display: none;
}
