.hero-lib {
  min-height: 230px;
  min-width: 320px;

  @media screen and (min-width: 768px) {
    max-height: 219px;
  }
  @media screen and (min-width: 1200px) {
    max-height: 216px;
  }

  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/mob-hero-lib-min.png);

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mob-hero-lib@2x-min.png);
  }

  @media screen and (min-width: 768px) {
    min-width: 768px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tab-hero-lib-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/tab-hero-lib@2x-min.png);
    }
  }
  @media screen and (min-width: 1200px) {
    min-width: 1280px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desk-hero-lib-min.png);

    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/desk-hero-lib@2x-min.png);
    }
  }
}

.hero-list {
  display: flex;
  justify-content: center;
  padding-top: 124px;
  padding-bottom: 62px;

  &__item:not(:last-child) {
    margin-right: 20px;

    @media screen and (min-width: 768px) {
      margin-right: 32px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 16px;
    }
  }
  &__btn {
    padding: 14px 36px;
    width: 130px;
    height: 44px;

    font-size: 12px;
    line-height: 1.33;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid #ffffff;
    cursor: pointer;
    transition: transform 250ms $cubic, filter 250ms $cubic,
      border-color 250ms $cubic, color 250ms $cubic;
    transform: scale(1);

    color: $primary-color-text;
    background-color: transparent;

    &:hover,
    &:focus {
      transform: scale(1.1);

      border-color: #fff;
      color: #fff;
    }

    @media screen and (min-width: 768px) {
      width: 152px;
    }

    @media screen and (min-width: 1200px) {
      width: 147px;
    }

    &.is-header-lib-active {
      filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
      background: #ff6b01;
      border-radius: 5px;
      border: none;
    }
  }
}
