.hero-btn-list {
  display: flex;
  margin-top: 35px;
  justify-content: center;
  flex-wrap: wrap;
}

.hero-btn-list__item:not(:nth-child(2n)) {
  margin-bottom: 10px;
  margin-right: 10px;
  @include tablet {
    margin: 0;
  }
}

@include tablet {
  .hero-btn-list__item:not(:last-child) {
    margin-right: 20px;
  }
}

.filter,
.ratting,
.reset {
  width: 130px;
  height: 44px;

  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: transform 250ms $cubic, filter 250ms $cubic,
    border-color 250ms $cubic, color 250ms $cubic;
  transform: scale(1);

  color: $primary-color-text;
  background-color: transparent;

  &:hover {
    transform: scale(1.1);

    border-color: #ff6b01;
    color: #fff;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    background: #ff6b01;
  }
}

.menu-filter {
  position: relative;
}

.menu-filter-list {
  position: absolute;
  padding: 10px 15px 10px 15px;
  z-index: 3;
  opacity: 0;
  transform: translateY(-40%);
  transition: 300ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  background-color: #182025;
  width: 300px;
  top: -267px;
  right: -4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;

  @include tablet {
    top: -135px;
    right: 7%;
    width: 600px;
  }

  @include desktop {
    width: 1100px;
    top: -77px;
    right: 5%;
  }
}
.is-open-filter {
  opacity: 1;
  pointer-events: all;
  transform: translateY(60%);
  transition: transform 600ms ease-in-out, opacity 600ms ease-in-out;
}

.menu-filter-list__btn {
  width: 115px;
  height: 35px;

  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: transform 250ms $cubic, filter 250ms $cubic,
    border-color 250ms $cubic, color 250ms $cubic;
  transform: scale(1);

  color: $primary-color-text;
  background-color: transparent;

  &:hover {
    transform: scale(1.1);

    border-color: #ff6b01;
    color: #fff;
    filter: drop-shadow(0px 8px 43px rgba(255, 107, 1, 0.6));
    background: #ff6b01;
  }
}

.menu-filter-list_item:not(:nth-child(2n)) {
  margin-right: 20px;
  margin-bottom: 10px;
}

@include tablet {
  .menu-filter-list_item:not(:nth-child(4n)) {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

@include desktop {
  .menu-filter-list_item:not(:nth-child(8n)) {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.menu-filter-list_item:last-child {
  margin: 0;
}
