.backdrop-sign {
   position: fixed;
   overflow-y: scroll;
   overflow-x: hidden;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   transition: all 500ms $cubic;
}

.backdrop-sign.is-bck-hidden{
    opacity: 0;
    pointer-events: none;

    .modal {
        transform: translate(-50px, -170px);
        top: -999px
    }
}

.backdrop-log {
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all 500ms $cubic;
}

.backdrop-log.is-bck-hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
            transform: translate(-50px, -170px);
            top: -999px
        }
}

.modal {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #fff;
    width: 270px;
    opacity: 1;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @include tablet {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
    }
    
    @include desktop {
        width: 540px;
    }
    
    padding: 20px;
    
    transform: translate(-50%, -50%);
    transition: all 500ms $cubic;

    .backdrop-sign.is-bck-hidden & {
        opacity: 0;
        @include tablet {
                transform: translate(-50%, -170%);
            }
    }

    .backdrop-log.is-bck-hidden & {
        opacity: 0;
        @include tablet {
                transform: translate(-50%, -170%);
            }
    }

}

.modal__form--label {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.modal__form--input {
    padding-left: 5px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
            border-color: #FF6B01;
        }
}

.modal__form--btn {
    margin-left: auto;
    margin-right: auto;
    padding: 7px;
    min-width: 90px;
    border: 1px solid transparent;
    background-color: #FF6B01;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #fff;
    text-transform: uppercase;
}

.modal__form--container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.modal__form p {
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color:#FF6B01;
    text-transform: uppercase;
}

.modal-button-sign {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-button-log {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.modal-btn__icon {
    fill: #000;
    background-color: #fff;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            fill: #FF6B01;
        }
}

//Додавання та видалення реєстрації та авторизації на модалці

.is-hidden-form {
    display: none;
}