.hero-ratting {
  position: relative;
}

.ratting-form {
  position: absolute;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  width: 300px;
  background-color: #182025;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 15px;
  transition: all 0.3s ease-in-out;
  display: flex;
  position: absolute;
  top: 34px;
  right: 3%;
  transform: translateY(-135%);

  @include tablet {
    right: 30%;
  }
}
.is-open-ratting {
  opacity: 1;
  pointer-events: all;
  transform: translateY(-35%);
  transition: transform 600ms ease-in-out, opacity 600ms ease-in-out;

  @include tablet {
    transform: translateY(-10%);
  }

  @include desktop {
    right: 40%;
  }
}

.ratting-form__label {
  position: relative;
  font-size: 16px;
  line-height: 1.33;
  font-weight: 400;
  color: $primary-color-text;
  
}

.ratting-form__label:not(:last-child) {
  margin-bottom: 10px;
}

.ratting-form__svg {
  position: absolute;
  top: 2px;
  left: -20px;
  fill: $primary-color-text;
}
.ratting-form__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.ratting-form__input:checked + .ratting-form__svg {
  fill: $secondary-color-text;
}