$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$transition-time: 250ms;

//Color palette to be added here
$primary-color-text: #ffffff;
$warning-color: #ff001b;
$first-color-text: #000000;
$secondary-color-text: #ff6b08;
$background-color-footer: #f7f7f7;
$primary-color-text-footer: #545454;
$modal-color-text: #8c8c8c;
$background-color-btn: #ff6b01;
$background-color-reting: #ff6b01;
$background-color-btn-leftAndRight: #f7f7f7;
