<!-- MODAL -->

<div class="backdrop backdrop__is-hidden" data-modal>
  <div class="backdrop-modal">
    <div class="backdrop-container">
      <button class="backdrop-container__btn" type="button" data-modal-close>
        <svg class="backdrop-container__svg" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-cross"></use>
        </svg>
      </button>
      <h2 class="backdrop-container__title">The Gentlemans</h2>
      <ul class="backdrop-list">
        <li class="backdrop-list__item">
          <img
            src="./images/vlad-team-min.png"
            class="backdrop-list__img"
            alt="gentlemen"
          />
          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Влад Авідзба</h3>
            <p class="backdrop-content__text">Team Leader</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>

            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="backdrop-list__item">
          <img
            src="./images/igor-min.png"
            class="backdrop-list__img"
            alt="gentlemen"
          />
          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Ігор Булиженков</h3>
            <p class="backdrop-content__text">Scrum Master</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="backdrop-list__item">
          <img
            src="./images/vlad-min.png"
            class="backdrop-list__img"
            alt="gentlemen"
          />
          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Влад Козак</h3>
            <p class="backdrop-content__text">Frontend Developer</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="backdrop-list__item">
          <img
            src="./images/vadym-min.png"
            class="backdrop-list__img"
            alt="gentlemen"
          />
          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Вадим Васільєв</h3>
            <p class="backdrop-content__text">Frontend Developer</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="backdrop-list__item">
          <img
            src="./images/oleks-min.png"
            class="backdrop-list__img"
            alt="gentlemen"
          />
          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Олександр Паламарчук</h3>
            <p class="backdrop-content__text">Frontend Developer</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
