<div class="backdrop backdrop__is-hidden" data-modal>
  <div class="backdrop-modal">
    <div class="backdrop-container">
      <button class="backdrop-container__btn" type="button" data-modal-close>
        <svg class="backdrop-container__svg">
          <!-- <use href="./images/symbol-defs.svg#icon-cross"></use> -->
          <use href="./images/symbol-defs.svg#icon-gentlemen"></use>
        </svg>
      </button>

      <h2 class="backdrop-container__title">THE GENTLEMEN</h2>
      <ul class="backdrop-list">
        <li class="backdrop-list__item">
          <picture>
            <source
              srcset="
                ./images/vlad-team-min.jpg    1x,
                ./images/vlad-team-min@2x.jpg 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/vlad-team-min.jpg"
              class="backdrop-list__img"
              alt="gentlemen"
            />
          </picture>

          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Vladyslav Avidzba</h3>
            <p class="backdrop-content__text">Team Lead</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.instagram.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>

            <li class="backdrop-list-soc__item">
              <a href="https://twitter.com/" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.facebook.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.linkedin.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>

        <li class="backdrop-list__item">
          <picture>
            <source
              srcset="./images/igor-min.jpg 1x, ./images/igor-min@2x.jpg 2x"
              media="(min-width: 320px)"
            />
            <img
              src="./images/igor-min.jpg"
              class="backdrop-list__img"
              alt="gentlemen"
            />
          </picture>
          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Igor Bulyzhenkov</h3>
            <p class="backdrop-content__text">Scrum Master</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.instagram.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="https://twitter.com/" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.facebook.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.linkedin.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="backdrop-list__item">
          <picture>
            <source
              srcset="./images/vlad-min.jpg 1x, ./images/vlad-min@2x.jpg 2x"
              media="(min-width: 320px)"
            />
            <img
              src="./images/vlad-min.jpg"
              class="backdrop-list__img"
              alt="gentlemen"
            />
          </picture>
          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Vlad Kozak</h3>
            <p class="backdrop-content__text">Frontend Developer</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.instagram.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="https://twitter.com/" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.facebook.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.linkedin.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="backdrop-list__item">
          <picture>
            <source
              srcset="./images/vadym-min.jpg 1x, ./images/vadym-min@2x.jpg 2x"
              media="(min-width: 320px)"
            />
            <img
              src="./images/vadym-min.jpg"
              class="backdrop-list__img"
              alt="gentlemen"
            />
          </picture>
          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Vadym Vasiliev</h3>
            <p class="backdrop-content__text">Frontend Developer</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.instagram.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="https://twitter.com/" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.facebook.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.linkedin.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
        <li class="backdrop-list__item">
          <picture>
            <source
              srcset="./images/oleks-min.jpg 1x, ./images/oleks-min@2x.jpg 2x"
              media="(min-width: 320px)"
            />
            <img
              src="./images/oleks-min.jpg"
              class="backdrop-list__img"
              alt="gentlemen"
            />
          </picture>

          <div class="backdrop-content">
            <h3 class="backdrop-content__title">Oleksandr Palamarchuk</h3>
            <p class="backdrop-content__text">Frontend Developer</p>
          </div>
          <ul class="backdrop-list-soc">
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.instagram.com/
              
              "
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-instagram"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a href="https://twitter.com/" class="backdrop-list-soc__link">
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-twitter"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.facebook.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
            <li class="backdrop-list-soc__item">
              <a
                href="https://www.linkedin.com/"
                class="backdrop-list-soc__link"
              >
                <svg class="backdrop-list-soc__svg" width="25" height="25">
                  <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
