.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition: all 500ms $cubic;

  background-color: rgba(0, 0, 0, 0.2);

  &__is-hidden {
    opacity: 0;
    pointer-events: none;

    .backdrop-modal {
      transform: translate(-50%, -170%);
      top: -999px;
    }
  }
  @media screen and (max-width: 1280px) {
    overflow-y: scroll;
  }
}
.backdrop-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  opacity: 1;

  transition: all 500ms $cubic;
  width: 300px;
  height: 92vh;
  border-radius: 4px;
  box-shadow: 0 0 10px #c59025bd;

  background-color: #182025;

  @include tablet {
    width: 740px;
  }
  @media screen and (max-width: 1280px) {
    overflow-y: scroll;
  }
  @media screen and(min-width:1280px) {
    width: 1200px;
    height: 536px;
  }
}

.backdrop-container {
  padding-bottom: 10px;
  &__title {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 22px;
    line-height: 1.17;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.09em;

    // color: $background-color-btn;
    color: #c59025b0;
    @include tablet {
      font-size: 32px;
      margin-left: 50px;
      margin-top: 30px;
    }
  }

  &__btn {
    position: absolute;
    top: 18px;
    right: 18px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: color 500ms $cubic, transform 500ms $cubic;

    background-color: transparent;
    // color: #afb1b8;
    color: #c59025b0;
    @include tablet {
      width: 35px;
      height: 35px;
      top: 33px;
      right: 33px;
    }

    &:hover,
    &:focus {
      color: $background-color-btn;
      transform: scale(1.2);
    }
  }
  &__svg {
    width: 25px;
    height: 25px;

    fill: currentColor;
  }
}

.backdrop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;

  @media screen and(min-width:1200px) {
    flex-wrap: nowrap;
  }
  &__item {
    margin: 10px;
    box-shadow: 0 0px 10px 0 rgba(219, 219, 219, 0.519);
    border-radius: 8px 8px 8px 8px;
    background-color: #fff;
    transition: transform 500ms $cubic, box-shadow 500ms $cubic;

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    @include tablet {
      width: calc((100% - 30px - 30px) / 2);
      transform: scale(0.96);

      &:hover,
      &:focus {
        box-shadow: 0px 0px 29px 5px #c59025b0;
      }
    }

    @media screen and (min-width: 1200px) {
      margin: 5px;
    }

    &:hover,
    &:focus {
      transform: scale(1);
    }
    // rgb(0 0 0 / 19%)
  }
  &__img {
    border-radius: 8px 8px 0 0;
    width: 100%;
  }
}

.backdrop-content {
  padding-top: 30px;
  padding-bottom: 16px;
  text-align: center;

  &__title {
    font-size: 18px;
    line-height: 1.18;
    color: $first-color-text;
    margin-bottom: 10px;

    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.18;
    font-weight: 400;

    // color: $background-color-btn;
    color: #c59025b0;

    @media screen and (min-width: 1200px) {
      font-size: 16px;
    }
  }
}

.backdrop-list-soc {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 20px;
  }
  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    transition: color 500ms $cubic, background-color 500ms $cubic;
    color: #afb1b8;
    &:hover,
    &:focus {
      color: #ffffff;
      background-color: #c59025b0;
    }
  }

  &__svg {
    fill: currentColor;

    @media screen and (min-width: 1200px) {
      height: 23px;
    }
  }
}
